.List {
    padding: 10px;

}
.List__item {
    display: flex;
    margin: 0;
    border-bottom: 1px solid pink;
}
.List__item:first-child {
    border-top: 1px solid pink;
}
.List__item-icon{
    font-size: 30px;
    margin: 15px;
}
.List__item-text {
    display: flex;
    align-self: center;
}
.button___control {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    

}
.button___text{
    width: 70px;
    font-size: 20px;
    padding: 5px 10px;
    transition: all .2s;
    color: #fff;
    border: none;
    background-color: #ff4d4d;
    border-radius: 5px;
}
.button___text:hover {
    transform: scale(1.1);
}