.List {
    padding: 10px;

}
.List__item {
    display: flex;
    margin: 0;
    border-bottom: 1px solid pink;
}
.List__item:first-child {
    border-top: 1px solid pink;
}
.List__item-icon{
    font-size: 30px;
    margin: 15px;
}
.List__item-text {
    display: flex;
    align-self: center;
}