.List {
    border: 1px solid #000;
}
.List__item {
    display: flex;
    margin: 0;
    border-bottom: 1px solid #000;

}
.List__item-icon{
    font-size: 40px;
    margin: 15px;
}
.List__item-text {
    display: flex;
    align-self: center;
}